/*
 * Components - our impact copy
 */

.our-impact-copy {
  margin: 0 auto;
  padding: 100px 0 30px;
  overflow: hidden;
  
  @media (min-width : 768px) {
    width: 100%;
    padding: 0 9px;
  }
  
  @media (min-width : 1600px) {
    max-width: 1600px;
  }
    
  &.align-right {
    
    .text {
      
      @media (min-width : 768px) {
        float: right;
      }
    }
    
    .image {
      
      @media (min-width : 768px) {
        right: auto;
        left: 0;
      }
    }
  }
  
  .text {
  
    @media (min-width : 768px) {
      width: calc((6 / 12) * 100%);
    }
  
    @media (min-width : 1024px) {
      width: calc((5 / 12) * 100%);
      margin-left: calc((1 / 12) * 100%);
    }
  }
  
  h1 {
    position: relative;
    
    @include font_size(14, 22);
  
    @media (min-width : 768px) {
    
      @include font_size(18, 22);
    }
  }
}

.image {
  width: 100%;
  height: calc(70vh - 100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
  @include section_fade();
  
  @media (min-width : 768px) {
    position: fixed;
    top: 0;
    right: 0;
    width: calc((5 / 12) * 100%);
    height: 100vh;
    margin: 0;
    pointer-events: none;
  }
}