/*
 * Components - strategies
 */

.strategies {
  margin: 50px auto 100px;
  
  @media (min-width : 768px) {
    padding: 0 9px;
  }
  
  @media (min-width : 1024px) {
    width: calc((10 / 12) * 100%);
    margin: 0 auto;
    padding: 0 calc((1 / 12) * 100%) 0 9px;
  }
  
  @media (min-width : 1600px) {
    max-width: 1600px;
  }
  
  h1 {
    position: relative;
    
    @include font_size(14, 22);
    
    @media (min-width : 768px) {

      @include font_size(18, 22);
    }
  }
  
  p {
    
    @media (min-width : 1024px) {
      width: calc(((2 / 12) * 100%) * 3 + ((1 / 12) * 100%) * 2);
    }
  }
}

.strategies-list {
  display: flex;
  flex-wrap: wrap;
}

.strategies-list__item {
  
  @media (min-width : 1024px) {
    flex-basis: 50%;
  }
  
  @media (min-width : 1400px) {
    margin: 0;
    flex-basis: 25%;
  }
  
  h2 {
    position: relative;
    margin-top: 1em;
  
    &:after {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 22px;
      border-top-style: solid;
      border-top-width: 1px;
    }
  }
  
  h2, p {
    
    @include font_size(12, 20);
    
    @media (min-width : 768px) {
    
      @include font_size(16, 20);
    }
  }
}