/*
 * Components - dropdown
 */

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  cursor: pointer;
  z-index: 3;

  @include radius(0);

  &.active {
    z-index: 4;

    span {
      color: $yellow;
    }

    div {
      border-width: 1px;
      border-style: solid;
      border-color: inherit;
      border-top: none;
    }

    a {
      display: block;
    }
  }

  span {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    background: transparent url(/assets/img/dropdown.png) calc(100% - 10px) no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  div {
    position: absolute;
    top: calc(100% + 1px);
    left: -1px;
    width: calc(100% + 2px);
    margin: 0;

    .page-news & {
      background-color: rgba(#575f70, 0.95);
    }

    .page-resources & {
      background-color: rgba(#081d27, 0.95);
    }
  }

  a {
    position: relative;
    display: none;
    margin: 0;
    padding: 1em 5px;
    text-align: center;
    text-decoration: none;

    &:last-child {
      margin-bottom: 2em;
    }

    &:hover {
      color: $yellow;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 80px;
      height: 1px;
      background: #47505f;

      @include transform(translateX(-50%));
    }
  }
}
