/*
 * Components - sections
 */

section {
  position: relative;
  margin: 0;
  overflow: hidden;

  @include section_layers();
  @include transition(opacity 1s);

  .outer {
    overflow: hidden;
  }
}

.page-what-we-do {

  section,
  section > .outer {
    overflow: visible;
  }
}

.page-contact .section-1 {
  color: #fff;
  // text-align: center;
}


.page-home .section-1 {
  color: $yellow;
  text-align: center;

  p {

    @media (min-width : 768px) {

      @include font_size(20, 30);
    }
  }

  .footnote {
    position: absolute;
    bottom: 1em;
    left: 50%;
    font-weight: bold;
    z-index: 3;

    @include transform(translateX(-50%));
    @include font_size(12, 24);

    @media (min-width : 768px) {

      @include font_size(16, 32);
    }
    @media (max-width : 530px) {

      display:none;
    }
  }
}

.page-home .section-3 {
  color: #b9cfc6;
}
