/*
 * Components - back
 */

@import '../mixins/mixins';

.back {
  position: fixed;
  top: 50%;
  left: 0;
  min-width: 50px;
  margin: 0;
  padding-bottom: 27px;
  text-align: center;
  text-decoration: none;
  background: url(../img/arrow-left.png) center bottom no-repeat;

  @include transform(translateY(-50%));
  @include transition(left 300ms);

  &:hover {
    text-decoration: none;
  }

  @media (min-width : 768px) {
    left: 20px;
  }

  @media (min-width : 1800px) {
    left: 56px;
  }
}
