/*
 * Components - donation form
 */

.donation-hero {
  margin: 100px 56px 30px;
  
  @media (min-width : 1024px) {
    width: calc((598 / 1024) * 100%);
    max-width: 1229px;
    margin: 100px auto 30px;
  }
  
  div {
    padding-bottom: calc((9/16) * 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.donation-form {
  position: relative;
  margin: 0;
    
  &[data-small_viewport="true"] section {
    top: 0;
    
    @include transform(none);
  }
  
  section {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 100%;
    
    @include transform(translateY(-50%));
    
    &.section-7 {
      
      label {
        display: block;
        
        @include font_size(14, 18);
        
        span {
          color: #7e8381;
        }
  
        .footnote {
          color: $yellow;
        }
      }
      
      input[type="text"] {
        margin: 0;
        font-size: inherit;
        
        @media (min-width : 768px) {
          display: block;
          width: calc((2 / 12) * 100%);
        }
      }
    }
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 20px 0;
    
    @media (min-width : 768px) {
      padding: 100px 9px;
    }
    
    @media (min-width : 1024px) {
      width: calc((10 / 12) * 100%);
      margin: 0 auto;
      padding: 100px calc((1 / 12) * 100%) 100px 9px;
    }
    
    @media (min-width : 1600px) {
      max-width: 1600px;
    }
    
    .container{
      overflow: hidden;
      padding-bottom: 2px;
    }
  }
    
  .amount-other-container,
  .button {
    display: block;
    margin-top: 20px;
    
    @media (min-width : 768px) {
      float: left;
      width: calc((2 / 12) * 100%);
      margin-top: 30px;
      margin-right: calc((1 / 12) * 100%);
    }
    
    * {
      margin: 0;
    }
  }
  
  p {
  
    @media (min-width : 1024px) {
      width: calc(((2 / 12) * 100%) * 3 + ((1 / 12) * 100%) * 2);
    }

    &.disclaimer {
      float: left;
      clear: both;
      
      @include font_size(10);
    }
    
    + p {
      margin: 0;
    }
    
    span {
      color: $yellow;
    }
    
    &.bank-reference {
      margin: 1.5em 0;
      color: $yellow;
    }
  }
  
  legend {
    margin-top: 40px;
      
    @include font_size(14, 22);
    
    @media (min-width : 768px) {
    
      @include font_size(18, 22);
    }
  }
  
  label {
    cursor: pointer;
  }
  
  input {
    padding: 5px 1em;
  }

  input[type="text"]:not(.amount-other-value),
  input[type="email"] {
    padding: 5px 0;
    border-top: none;
    border-right: none;
    border-left: none;
    
    @include font_size(14, 18);
    
    &[data-valid="true"] {
      border-bottom-color: #ffdd94;
    }
  }
  
  input[type="radio"] {
    display: none;
    
    &:checked + label {
      color: #ffdd94;
      border-color: #ffdd94;
    }
  }
  
  input[type="button"][data-valid="false"] {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
  }
}

.donation-progress {
  padding: 0;
  overflow: hidden;
  
  &:empty {
    height: 8px;
  }
  
  li {
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    font-size: 0;
    color: transparent;
    background: #bacfc6;
    opacity: 0.2;
    
    @include radius();
    
    &:first-child {
      margin-left: 0;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  .valid-stage {
    cursor: pointer;
    opacity: 1;
  }
  
  .current-stage {
    background: $yellow;
    opacity: 1;
  }
}

.amount-other-container {
  position: relative;
  margin-bottom: 30px;
  
  input[type="text"] {
    padding: 5px 1em;
  
    @include font_size(14, 18);
    @include letter_spacing(100);
  }
  
  .button {
    width: 100%;
    padding: 6px 1em;
  }
  
  input[type="button"] {
    position: absolute;
    top: 1px;
    right: 0;
    width: 50%;
    padding: 5px 1em;
    border-color: #ffdd94;
  
    @include font_size(14, 18);
    @include letter_spacing(100);
  }
  
  label {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  input[type="radio"]:checked + label {
    display: none;
  }
  
  &[data-state="focus"],
  &[data-state="set"] {
    
    input[type="text"] {
      color: #ffdd94;
      border-color: #ffdd94;
    }
    
    input[type="button"] {
      top: calc(100% - 1px);
      width: 100%;
      border-top: none;
    }
  }
  
  &:not([data-state="focus"]) {
    
    input[type="button"] {
      display: none;
    }
  }
}
