/*
 * Components - where we work
 */

 .filtered-posts {
   display: flex;
   flex-direction: column;
 }

.map {
  width: 100%;
}

.dropdown-country-list {
  width: 100%;
}


@media (min-width:768px) {
  .dropdown-country-list {
    width: 30%;
  }

  .map {
    width: 75%;
    margin-left: auto;
  }
}
