/*
 * Components - footer
 */

footer {


  @media (min-width : 768px) {
    background: url(assets/img/logo-footer.png) 1em calc(100% - 1em) no-repeat;
    background-position: 56px 50%;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: #bacfc6;

    @media (min-width : 768px) {
      left: 56px;
    }
  }

  .footer__container {
    display: table;
  }

  .footer__logo {
    display: table-header-group;
  }

  .footer__info {
    display: table-footer-group;
    @include font-size(10);
  }

  .social {
    margin-bottom: 1rem;
  }



  @media(min-width: 768px) {
    .footer__container {
      display: flex;
    }

    .footer__logo {
      display: none;
    }

    .footer__info {
      flex-basis: 60%;

      div {
        padding: 0.25rem;
        margin-top: 0;
      }
    }

    .social {
      flex-basis: 40%;
    }
  }

}
