/*
 * Components - resources intro
 */

.resources-intro {
  margin: 0 auto;
  padding: 100px 0 30px;

  @media (min-width : 768px) {
    padding: 190px 9px 70px 9px;
  }

  @media (min-width : 1024px) {
    width: calc((11 / 12) * 100%);
    padding: 190px 9px 70px calc((1 / 12) * 100%);
  }

  @media (min-width : 1600px) {
    max-width: 1600px;
  }

  p {
    font-family: 'editor-regular';

    @media (min-width : 1024px) {
      width: calc(((3 / 11) * 100%) * 2 + ((1 / 11) * 100%));
    }
  }

  h2 {
    margin-top: 60px;
    font-family: 'editor-regular';

    @media (min-width : 1024px) {
      width: calc(((3 / 11) * 100%) * 2 + ((1 / 11) * 100%));
    }
  }

  form {
    margin: 20px 0 0;
    color: inherit;

    @media (min-width : 768px) {
      // display: flex;
    }

    .search-filters {
      display: flex;

      > * {

        @media (min-width : 768px) {
          margin: 0;
          padding: 0;

          &:nth-child(2) {
            margin: 0 calc((1 / 11) * 100%);
          }
        }
      }

      input {
        padding: 10px;
      }

      select {
        padding: 10px;
      }

      option {
        margin: 0;
      }
    }

    .search-submit {
      float: right;
    }



  }
}
