/*
 * Components - who we are intro
 */

.who-we-are-intro {
  margin: 0 auto;
  padding: 100px 0 30px;
  
  @media (min-width : 768px) {
    padding: 0 9px;
  }
  
  @media (min-width : 1024px) {
    width: calc((10 / 12) * 100%);
    padding: 0 calc((1 / 12) * 100%) 0 9px;
  }
  
  @media (min-width : 1600px) {
    max-width: 1600px;
  }
  
  .container{
    overflow: hidden;
  }
  
  p {
    font-family: 'editor-regular';
  
    @media (min-width : 1024px) {
      width: calc(((2 / 12) * 100%) * 3 + ((1 / 12) * 100%) * 2);
    }
  }
  
  .button {
    
    @media (min-width : 768px) {
      float: left;
      width: calc((2 / 12) * 100%);
      margin-top: 45px;
      margin-right: calc((1 / 12) * 100%);
    }
  }
}