/*
 * Objects - outer
 */

.outer {
  position: relative;

  section & {
    margin: 0 56px;
  }

  &.has-padding {
    padding: 100px 0;
  }

  &.full-height {
    min-height: 100vh;

    &.centered {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &.with-footer {

      @media (min-width : 768px) and (min-height : 600px) {
        min-height: calc(100vh - 90px);
      }

      @media (min-width : 1024px) and (min-height : 600px) {
        min-height: calc(100vh - 87px);
      }
    }

    &.poster {
      margin: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.generic-poster {
      margin: 0;
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.image {
      margin: 0;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: auto;

      @media (min-width : 768px) {
        background-size: 50vw;
      }

      @media (min-width : 1200px) {
        background-size: contain;
      }
    }
  }
}
