/*
 * Objects - inner
 */

.inner {
  position: relative;

  section & {
    margin: 0 -9px;
    margin: 0;
  }


  // note to self - content does not appear when this class is active
   
  // &.transition {
  //
  //   @include section_transition();
  // }

  &.fade {

    @include section_fade();
  }
}
